* {
  background-color: #2d3237;
}

/* #logo:hover{
  scale:1.1;
} */

a:hover {
  /* background-color:black; */
  color: white;
  /* background: black; */
  cursor: pointer;
  border-radius: 4px;
}

img {
  height: 70px;
  border-radius: 7px;
}

.navbar-nav .nav-link {
  color: #7070ff; /* Set the text color to white */
}

.navbar-nav .nav-link:hover {
  color: #ffbbbb; /* Set the text color to black on hover */
}

.form-select {
  color: #ffffff;
  background-color: #2d3237;
  border-color: #ffffff;
}

.form-select option {
  color: #000000;
}


/* a[class="logo"]:hover{
  background:none;
} */


/* a {
  color: linear-gradient(-45deg, #ee9f87, #eaa7c1, #23a6d5, #924fef)!important;
  animation: gradient 15s ease infinite !important;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */
